.video{
	width: 92%;
	height: 51.5vw; 
}
.line-for-video{
	width: 92%;
	background: #d1fcff;
	font-size: calc(5px + 1.8vw);
	margin-left: auto;
    margin-right: auto;
    padding-top: 0.7%;
    color: #01579B;
    margin-top: -0.7%;
    .a{
		width: 23%;
		margin-left: 15%;
    }
    p{
		margin-left: 5%;
    }
	button{
		
		border: none;
		background-color: #f3ff00;
		color: #01579B;
	}
	img{
		width: 8%;
		margin-left: 3%;

	}
}
.presentation{
	margin-left: 1%;
	.block{
		margin-left: 1%;
		margin-right: 1%;

		.image1{
			width: 74.3%;
			margin-top: 7.5%;
		}
		.image2{
			width: 100%;
			padding-top: 10%;
		}
		.image3{
			width: 100%;
		}	
		p{
			background: #d1fcff;
			font-size: calc(18px + 1.1vw);
			color: #00C0FF;
			margin: 0;			
		}
	}
	.block1{
		width: 30%;
	}
	.block2{
		width: 31.6%;
	}
	.block3{
		width: 30%;
	}
}
.buttons{
	font-size: 2.44vw;

	button{
		background-color: #01579B;
		border: 0;
		color: white;
		padding: 0 1.4%;
		margin-left: 5.3%;
		margin-right: 5.3%;
		margin-bottom: 1%;
		margin-top: 1.5%;
	}
	
}
.sliders{
	margin: 0 5.6%;
	font-size: 2vw;
	.title{
		height: 8vw;
	}
	.button{
		color: white;
		font-size: 2vw;
	}
	.image{
		height: 20vw;
		align-items: center;
		display: flex;
	}
}

a{
	text-decoration: none;
	color: #01579B;
}
a:hover{
	text-decoration: none;
}
@media only all and (max-width: 600px) {
	.video{
		width: 100%;
		height: 235px;
	}
	.line-for-video{
		width: 100%;
		.a{
		margin-left: 10%!important;
		}
		p{
			margin-left: 5px!important;
			margin-bottom: 0px!important;
		}
		img{
			width: 10%;
			height: 30%;
		}
	}
	.presentation{
		margin-left: 1%;
		.block{
			margin-left: 1%;
			margin-right: 6%;

			.image1{
				width: 100%;
				margin-top: 7.5%;
			}
			.image2{
				width: 100%;
				padding-top: 10%;
			}
			.image3{
				width: 100%;
			}	
		}
		.block1{
			width: 100%;
		}
		.block2{
			width: 100%;
		}
		.block3{
			width: 100%;
		}
	}
	.buttons{
		button{
			font-size: 26px;
		}
	}
	.sliders{
		margin: 0;
		font-size: 20px;
		.title{
			height: 45px;
		}
		.button{
			color: white;
			font-size: 20px;
		}
		.image{
			height: auto;
			display: block;
		}
	}
}