.diplom{
	margin: 6% 6%;
	width: 88%;
}
.link{
	margin-top: 100px;
	font-size: 2.2vw;
}
.client-image{
	width: 88%;
}
.client-cart{
	margin: 1.7% 0;
}
.texts{
	margin: auto 0;
}
.name{
	font-size: 2.2vw;
}
@media only all and (max-width: 600px) {
	.link{
		margin: 0px;
		font-size: 20px;
		width: 88%;
	}
	.texts{
		width: 88%;
	}
	.texts>p{
		font-size: 15px;
	}
	.name{
		font-size: 18px!important;
	}
}