body.body {
  font-size: 1.5vw; }

.blocked-block {
  width: 100%;
  height: 6.8vw; }

.mesenger {
  position: fixed;
  width: 6.5%;
  z-index: 1;
  bottom: 0px;
  right: 0px; }

.whatsapp {
  position: fixed;
  width: 7.5%;
  z-index: 1;
  bottom: -1%;
  right: 6.5%; }

header {
  width: 100%;
  background: #fff;
  position: fixed !important;
  z-index: 1; }
  header .main {
    margin: 0;
    padding: 0; }
    header .main .a {
      text-align: center;
      text-decoration: none;
      padding: 2px 0px;
      color: white;
      background-color: #01579B;
      font-size: 2vw; }
    header .main .a:hover {
      color: #01579B;
      background-color: white;
      text-decoration: none; }
  header .companies {
    padding: 5px 0;
    font-size: 1.9vw; }
    header .companies .fab {
      padding: 0; }
    header .companies .surname {
      padding-right: 0;
      margin-left: 20px; }
    header .companies .label {
      padding: 0; }
    header .companies div {
      color: #01579B; }
    header .companies .company_name {
      font-size: 1.3vw;
      padding: 0; }
      header .companies .company_name .enterprise {
        width: 20%;
        margin-left: 30%; }
      header .companies .company_name .palponservice {
        width: 25%;
        color: #d30e11;
        padding: 0px; }
      header .companies .company_name .palpongomme {
        width: 23%;
        color: #292929;
        padding: 0px; }
      header .companies .company_name .vendita {
        margin-left: 14%;
        color: #292929;
        font-family: monospace;
        margin-top: -1.3%; }

footer {
  color: #01579B; }
  footer .line {
    margin-top: 50px;
    width: 100%;
    height: 5px;
    background-color: #01579B; }
  footer .footer-block {
    padding: 20px 40px; }
    footer .footer-block div > p {
      padding: 0;
      margin: 0; }
  footer .my_name {
    margin-top: 100px;
    color: grey; }

@media only all and (max-width: 600px) {
  header {
    position: relative !important; }
    header .companies {
      font-size: 18px; }
    header .company_name {
      font-size: 13px !important;
      margin-right: -10px;
      margin-left: -10px; }
      header .company_name .enterprise {
        width: 33.3% !important;
        margin: 0 !important; }
      header .company_name .palponservice {
        width: 33.3% !important;
        margin: 0 !important; }
      header .company_name .palpongomme {
        width: 33.3% !important;
        margin: 0 !important; }
      header .company_name .vendita {
        margin: 0 !important; }
    header .main .a {
      font-size: 20px; }

  .mesenger {
    width: 50px;
    bottom: 0px;
    right: 17px; }

  .whatsapp {
    width: 60px;
    bottom: -3px;
    right: 65px; }

  footer {
    font-size: 12px; }
    footer .footer-block {
      padding: 20px 20px; }
    footer .footer-block > div {
      width: 50%;
      display: block;
      max-width: 50%;
      padding: 5px;
      flex: none; }
    footer .ghost {
      display: none !important; } }

/*# sourceMappingURL=style.css.map */
