$site-color: #01579B;

body.body{
    font-size: 1.5vw;
}
.blocked-block{
    width: 100%;
    height: 6.8vw;
}
.mesenger{
    position: fixed;
    width: 6.5%;
    z-index: 1;
    bottom: 0px; 
    right: 0px;
}
.whatsapp{
    position: fixed;
    width: 7.5%;
    z-index: 1;
    bottom: -1%; 
    right: 6.5%;
}
header{
    width: 100%;
    background: #fff;
    position: fixed!important;
    z-index: 1;
    .main{
        margin: 0;
        padding: 0;
        .a{
            text-align: center;
            text-decoration: none;
            padding: 2px 0px;
            color: white;
            background-color: $site-color;
            font-size: 2vw;   
        }
        .a:hover{
            color: $site-color;
            background-color: white;
            text-decoration: none;
        }
        
    }
    .companies{
        padding: 5px 0;
        font-size: 1.9vw;
        .fab{
            padding: 0;
        }
        .surname{
           padding-right: 0;
           margin-left: 20px;
        }
        .label{
            padding: 0;
        }
        div{
            color: $site-color;
        }
        .company_name{
            font-size: 1.3vw;
            padding: 0;
            .enterprise{
                width: 20%;
                margin-left: 30%;
            }
            .palponservice{
                width: 25%;
                color: #d30e11;
                padding: 0px;
            }
            .palpongomme{
                width: 23%;
                color: #292929;
                padding: 0px;
            }
            .vendita{
                margin-left: 14%;
                color: #292929;
                font-family: monospace;
                margin-top: -1.3%;
            }
        }
    }
}
footer{
    color: $site-color;
    .line{
        margin-top: 50px;
        width: 100%;
        height: 5px;
        background-color: $site-color;
    }
    .footer-block{
        padding: 20px 40px;
        div>p{
            padding: 0;
            margin: 0;
        }
        
    }
    .my_name{
        margin-top: 100px;
        color: grey;
    }
}
@media only all and (max-width: 600px) {
    header{
        position: relative!important;
        .companies{
            font-size: 18px;
        }
        .company_name{
            font-size: 13px!important;
            margin-right: -10px;
            margin-left: -10px;
            .enterprise{
                width: 33.3%!important;
                margin: 0!important;
            }
            .palponservice{
                width: 33.3%!important;
                margin: 0!important;
            }
            .palpongomme{
                width: 33.3%!important;
                margin: 0!important;
            }
            .vendita{
                margin: 0!important;
            }
        }
        .main{
            .a{
                font-size: 20px;
            }
        }
    }
    .mesenger{
        width: 50px;
        bottom: 0px; 
        right: 17px;
    }
    .whatsapp{
        width: 60px;
        bottom: -3px; 
        right: 65px;
    }
    footer{
        font-size: 12px;
        .footer-block{
            padding: 20px 20px;
        }
        .footer-block>div{
            width: 50%;
            display: block;
            max-width: 50%;
            padding: 5px;
            flex: none;
        }
        .ghost{
            display: none!important;
        }
    }
}
