<!DOCTYPE html>
{% load static %}
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>
<body class="body">
    <header>
        <div class="row text-center companies">
            <div class="col-sm-6 row fab"> 
                <div class="ghost"></div>          
                <div class="col-sm-4 surname">Fabrizio Palpon</div> 
                <div class="col-sm-7 label">dal 1989 Onestà Qualità Garanzia</div>
            </div>
            <div class="col-sm-6 row company_name">
                <div class="col-sm-3"></div>
                <div class="col-sm-2"><b>ENTERPRISE</b></div>
                <div class="col-sm-3"><b>PALPONSERVICE</b></div>
                <div class="col-sm-2"><b>PALPONGOMME</b></div>
                <div class="col-sm-2"></div>
                <div class="col-sm-1"></div>
                <div class="col-sm-11"><b>Vendita & Assistenza Automobili</b></div>
            </div>
        </div>
        <menu class="main row">
            <a href="{% url 'presentiamoci' %}" class="col-sm-2">Presentiamoci</a>
            <a href="{% url 'perche_noi' %}" class="col-sm-2">Perchè noi</a>
            <a href="{% url 'paga_con_comodo' %}" class="col-sm-2">Paga con comodo</a>
            <a href="{% url 'entra_in_contatto' %}" class="col-sm-3">Entra in contatto</a>
            <a href="#" class="col-sm-1">Service</a>
            <a href="#" class="col-sm-1">Blog</a>
            <a href="#" class="col-sm-1">TV</a>
        </menu>
    </header>
    {% block content %}{% endblock %}
    <footer>
        <div class="line"></div>
        <div class="row footer-block">
            <div class="col-sm-4">
                <p class="text">Si riceve su appuntamento presso lo Showroom:</p>
                <p class="text">Via Arezzo 36 Seregno (MB) 20831 Italia</p>
                <p class="text">Tel. +39 393 989 3909 Fabrizio@tanteauto.it</p>
            </div>
            <div class="col-sm-5"></div>
            <div class="col-sm-3">
                <p class="text">Enterprise Srl Sede legale Via </p>
                <p class="text">Stoppani 13, 20845 Sovico (MB) C.F</p>
                <p class="text">e P.I.: 08963610962</p>
            </div>
        </div>
        <div class="my_name text-center">created by <a href="https://www.freelancer.com.ru/u/maximdv34">Maksym Diamandi</a></div>
    </footer>
</body>
</html>