<!DOCTYPE html>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
{% load static %}
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>
<body class="body">
    <header>
        <div class="row text-center companies">
            <div class="col-sm-6 row fab">           
                <div class="col-sm-4 surname">Fabrizio Palpon</div> 
                <div class="col-sm-7 label">dal 1989 Onestà Qualità Garanzia</div>
            </div>
            <div class="col-sm-6 row company_name">
                <div class="enterprise"><b>ENTERPRISE</b></div>
                <div class="palponservice"><b>PALPONSERVICE</b></div>
                <div class="palpongomme"><b>PALPONGOMME</b></div>
                <div class="col-sm-12 vendita"><b>Vendita & Assistenza Automobili</b></div>
            </div>
        </div>
        <menu class="main row">
            <a href="{% url 'index' %}" class="col-sm-1 a">Home</a>
            <a href="{% url 'presentiamoci' %}" class="col-sm a">Chi siamo</a>
            <a href="{% url 'perche_noi' %}" class="col-sm a">Perchè noi</a>
            <a href="{% url 'auto_in_vendita' %}" class="col-sm-2 a">Auto in vendita</a>
            <a href="{% url 'paga_con_comodo' %}" class="col-sm-2 a">Paga con comodo</a>
            <a href="{% url 'entra_in_contatto' %}" class="col-sm-2 a">Entra in contatto</a>
            <a href="http://www.palponservice.it/" target="_blank" class="col-sm-1 a">Service</a>
            <a href="{% url 'reviews' %}" class="col-sm a">Recensioni</a>
        </menu>
    </header>
    <div class="blocked-block"></div>
    {% block content %}{% endblock %}
    <a href="https://www.facebook.com/messages/t/fabrizio.palpon"><img src="\static/images/image6.png" class="mesenger"></a>
    <a href="http://api.whatsapp.com/send?phone=393939893909"><img src="\static/images/image7.png" class="whatsapp"></a>
    <footer>
        <div class="line"></div>
        <div class="row footer-block">
            <div class="col-4">
                <p>Si riceve su appuntamento presso lo Showroom:</p>
                <p>Via Arezzo 36 Seregno (MB) 20831 Italia</p>
                <p>Tel. +39 393 989 3909 Fabrizio@tanteauto.it</p>
            </div>
            <div class="col-4 ghost"></div>
            <div class="col-4">
                <p>Enterprise Srl Sede legale Via Stoppani 13,</p>
                <p>20845 Sovico (MB)</p>
                <p>C.Fe P.I.: 08963610962</p>
            </div>
        </div>
        <div class="my_name text-center">created by <a href="https://www.freelancer.com.ru/u/maximdv34" target="_blank">Maksym Diamandi</a></div>
    </footer>
</body>
</html>