{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'blogstyle.css' %}">
<div class="sliders">
	<div class="row slider">
	{% for post in posts %}
	{% if post.id == 3 or post.id == 6 %}
		<div class="row slider">
	{% endif %}
	<div class="col-sm-4">
	  <div class="card mb-2">
	    <img class="card-img-top" src="{{ post.image.url }}" alt="Card image cap">
	    <div class="card-body">
	      <p class="card-title title">{{ post.title }}</p>
	      <p class="size">{{ post.price }}&#8364;</p>
	      <a class="btn btn-primary button">Scopri di più</a>
	    </div>
	  </div>
	</div>
	{% if post.id == 1 or post.id == 4 or post.id == 7 %}
		</div>
	{% endif %}
	{% endfor %}
</div>
{% endblock %}