{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'indexstyle.css' %}">
<div class="text-center">
	<iframe class="video" src="https://www.youtube.com/embed/j0SMYhlFHdQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen rel="0" showinfo="0"></iframe>
</div>
<div class="line-for-video row">
	<p>Il 97% dei nostri clienti consiglia<br> ai propri parenti di comprare da noi</p>
	<a href="{% url 'reviews' %}" class="a"><button>Leggi tutte le recensioni</button></a>
	<img src="\static/images/image4.png">
</div>

<div class=" my-4">
    <hr class="my-4">
    <!--Carousel Wrapper-->
	<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
		<div class="carousel-inner" role="listbox">
        <!--First slide-->   
        	<div class="carousel-item active">
	          	<div class="row sliders">
          	{% for client in clients %}
          	{% if forloop.counter == 4 or forloop.counter == 7 %}

          	<div class="carousel-item">
	          	<div class="row sliders">
	        {% endif %}
	            <div class="col-sm-4">
	              <div class="card mb-2">
	                <img class="card-img-top" src="{{ client.image.url }}" alt="Card image cap">
	              </div>
	            </div>
	        {% if forloop.counter == 3 or forloop.counter == 6 or forloop.counter == 9 %}
	          	</div>
	        </div>
          	{% endif %}
			{% endfor %}
				</div>
	        </div>
        <!--/.First slide-->
      </div>
      <!--/.Slides-->
    </div>
    <!--/.Carousel Wrapper-->
  </div>
<div class="row presentation text-center">
	<div class=" block block1">
		<img src="\static/images/image1.jpg" alt="" class="image1 image">
		<p>Solo le auto migliori ricevono<br> la nostra medaglia</p>
	</div>
	<div class=" block block2">
		<img src="\static/images/image2.jpg" alt="" class="image2 image">
		<p>Scegli un auto come nuova al prezzo di una usata</p>
	</div>
	<div class=" block block3">
		<img src="\static/images/image3.jpg" alt="" class="image3 image">
		<p>Sarai felice o la restituisci</p>
	</div>
</div>
<div class="buttons">
	<a href="{% url 'auto_in_vendita' %}"><button>Vedi tutte le auto in vendita</button></a>
	<a href="{% url 'valutazione' %}"><button>Ritiriamo la tua auto fai una valutazione</button></a>
</div>

  <div class="sliders my-4">

    <hr class="my-4">

    <!--Carousel Wrapper-->
    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
      <!--/.Indicators-->
		
	          <!--Slides-->
      <div class="carousel-inner" role="listbox">

        <!--First slide-->
        	<div class="carousel-item active">
	          	<div class="row">
          	{% for post in posts %}
          	{% if forloop.counter == 4 or forloop.counter == 7 %}
          	<div class="carousel-item">
	          	<div class="row">
	        {% endif %}
	            <div class="col-sm-4">
	            	<a href="{% url 'detail' post.pk %}">
	              <div class="card mb-2">
	              	<div class="image">
	                	<img class="card-img" src="{{ post.image.url }}" alt="Card image cap">
	                </div>
	                <div class="card-body">
	                  <p class="card-title title">{{ post.title }}</p>
	                  <p class="size">{{ post.price }}&#8364;</p>
	                  <a class="btn btn-primary button" href="{% url 'detail' post.pk %}">Scopri di più</a>
	                </div>
	            	</a>
	              </div>
	            </div>
	        {% if forloop.counter == 3 or forloop.counter == 6 or forloop.counter == 9 %}
	          	</div>
	        </div>
          	{% endif %}
			{% endfor %}
				</div>
	        </div>
        <!--/.First slide-->
      </div>
      <!--/.Slides-->
    </div>
    <!--/.Carousel Wrapper-->
  </div>
{% endblock %}