{% extends 'base_pres.html' %}
{% load static %}
{% block link %}https://www.youtube.com/embed/Ro5Fee-0woA{% endblock %}
{% block title %}Paga con comodo{% endblock %}
{% block text %}
<p>
	Paga con comodo, è una bella frase, secondo me rilassa…..
</p>
<p>
	Ecco si, ti vogliamo bello o bella e rilassata, e felice con la tua auto che:
</p>
<p>
	Potrai pagare tutta subito e via il dente via il dolore
</p>
<p>
	Oppure
	Potrai pagarla a rate, con un piccolo acconto e tante rate quante vuoi tu
</p>
<p>
	Oppure
	Potrai pagarla in mini rate e dopo 4 anni restituirla e ripartire con una altra auto e la stessa rata
</p>
<p>
	In poche parole, se tu hai esigenza di finanziare il tuo acquisto abbiamo tutte le soluzioni possibili per accontentarti.
</p>
<p>
	E se vuoi aggiungere dei prodotti assicurativi per tutelare il bene che stai acquistando abbiamo anche quelli, sono iscritto all’IVASS e posso offrirti tutti i prodotti accessori che vorrai
</p>
<p>
	E poi lasciamelo dire, comprare una automobile è un investimento, può costare mediamente 5 o 10 euro al giorno, ma quando hai finito di pagarla hai un piccolo capitale, hai un auto che dopo averti fatto felice ti regala la possibilità o di finanziarti o di comprarne un'altra 😊
</p>
<p>
	Quindi, paga con comodo e stai sereno anche tu!
</p>
<p>
	Fabrizio Palpon
</p>
{% endblock %}