{% extends 'base_pres.html' %}
{% load static %}
{% block link %}https://www.youtube.com/embed/2QI6RYAIpns{% endblock %}
{% block title %}Perchè noi{% endblock %}
{% block text %}
<p>
	Questa pagina si chiama Perché noi, già, perché noi?
	È più o meno la trama del film “Non ci si piglia se non ci si assomiglia”
</p>
<p>
	Adesso te la racconto, ci sono 7 motivi per cui noi siamo quelli giusti per te, 7 motivi per cui vale la pena fare più di 1000 km. come fanno ogni volta alcune persone per comprare un automobile da noi.
Ecco i 7 motivi:
</p>
<h2>
	Motivo N.1
</h2>
<p>
	Se tu sei una persona seria, onesta e corretta e vuoi avere a che fare con persona seria, onesta e corretta allora incontriamoci
</p>
<h2>
	Motivo N.2
</h2>
<p>
Se vuoi acquistare una automobile ed essere felice e sereno sapendo che hai la garanzia di avere fatto l’acquisto migliore per te, di avere un auto che ti vorrà bene e ti farà felice allora incontriamoci
</p>
<h2>
	Motivo N.3
</h2>
<p>
	Se vuoi comprare una automobile il cui contachilometri segna veramente i km. percorsi, e che è in splendida forma allora incontriamoci
</p>
<h2>
	Motivo N.4
</h2>
<p>
	Se vuoi comprare una automobile che non è mai stata incidentata e rimessa insieme tipo uovo di Pasqua, allora incontriamoci
</p>
<h2>
	Motivo N.5
</h2>
<p>
	Se vuoi comprare una automobile che è in regola con tutti i versamenti IVA, F24, priva di fermi amministrativi di ogni sorta, e che non ha subito nessun magheggio contabile per abbassarne il prezzo facendo ricadere sull’acquirente un problema nascosto allora incontriamoci
</p>
<h2>
	Motivo N.6
</h2>
<p>
	Se vuoi avere una assistenza su misura delle tue esigenze, che sia logistica, finanziaria o semplicemente di consulenza, allora incontriamoci
</p>
<h2>
	Motivo N.7
</h2>
<p>
	SE VUOI COMPRARE UNA AUTOMOBILE E VIVERE FELICE CON LEI, ALLORA INCONTRIAMOCI
</p>
<p>
	Fabrizio Palpon
</p>
{% endblock %}