{% extends 'base_pres.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'indexstyle.css' %}">
{% block link %}https://www.youtube.com/embed/9zlgkvF2Nro{% endblock %}
{% block title %}Presentiamoci{% endblock %}
{% block text %}
	<p>
		Lo sai che:
		Se sei curioso è meglio se guardi il video?
		Se non ti piacciono i video allora leggi queste 4 righe!
	</p>
	<p>
		Guarda che non leggerai le solite cose tipo noi facciamo il raviolo quadrato dal 1921 e mio nonno ha brevettato la mutanda invisibile e altre cavolate simili, se leggerai queste 4 righe conoscerai la vera storia di….
	</p>
	<p>
		Iniziamo
		Questa è la storia di uno di noi nato per caso in via Gluck, in una casa fuori città gente tranquilla che lavorava….. cantava Adriano Celentano. 
	</p>
	<p>
		La mia canzone ha nel testo anche “mangiava con Quattroruote e conosceva tutte le auto….”, uno che voleva fare lo psicologo è invece è stato divorato dalla passione
	</p>
	<p>
		Così da una passione troppo forte per i motori lo studio era in secondo piano, quindi al lavoro di giorno e a scuola di sera, una volta si usava cosi…<br>
		E mi divertivo così tanto che alla fine ho aperto un business proprio nella manutenzione delle auto, poi altri due e poi uno che si occupa solo di vendita auto.
	</p>
	<p>
		Nel video potrai vedere un po' più nel dettaglio cosa ho fatto…
	</p>
	<p>
		Ma a parte quello che ho fatto, il motivo per cui l’ho fatto e lo faccio è perché mi diverte tanto il mio lavoro.
	</p>
	<p>
		Mi piace il contatto con le persone oneste e corrette, gentili e intelligenti, se poi hanno anche passione per le auto è il massimo, ma devo dire che a volte gli incontri più belli sono quelli con le persone che vivono l’auto come mezzo di spostamento, e cosi si parla di vita e di esperienze reciproche.
	</p>
	<p>
		E  allora se tu stai leggendo queste righe significa solo due cose, o sei solo curioso oppure hai un problema con la tua auto.
	</p>
	<p>
		E se hai un problema, ti do una bella notizia… io ho la soluzione!
		Ti vendo una macchina e tac , il problema scompare e l’auto che vuoi al prezzo che puoi si realizza davanti a te
	</p>
	<p>
		Quindi Se vuoi essere felice con la tua auto devi comprarla da me! Questo è il mantra che ripeto a tutte le persone con cui entro in contatto, perché faccio il mio lavoro con grande amore e passione e vedere felici i miei clienti è il motivo per cui mi piace fare il mio lavoro, e cosi la passione si alimenta ogni giorno 😊
	</p>
	<p>
		Con affetto, stima simpatia e tanti auguri di una vita felice, Fabrizio Palpon.
	</p>
{% endblock %}