{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'reviewsstyle.css' %}">
<div class="row mx-auto">
	<div class="col-sm-11 row">
		<div class="col-sm-6"><img src="\static/images/image5.jpg" class="diplom"></div>
		<div class="link col-sm-6">
			<p>
				Leggere tutte le recesioni di autoscout:<br>
				<a href="https://www.autoscout24.it/concessionari/enterprise-srl/recensioni">https://www.autoscout24.it/concessionari/enterprise-srl/recensioni</a>
			</p>
		</div>
	</div>
</div>
{% endblock %}