{% extends 'base_pres.html' %}
{% load static %}
{% block link %}https://www.youtube.com/embed/EaS9-3qdUIg{% endblock %}
{% block title %}Valuta la tua auto…..{% endblock %}
{% block text %}

<div class="text">
	<p>
		Ci sono siti che promettono la Luna, altri che promettono l’affare della tua vita, la realtà è che sono strumenti di marketing per farti fare qualche Km. e se va bene farti arrabbiare un po' per la presa in giro. Io non sono così, io utilizzo Quattroruote come valutatore, serio, organizzato ma soprattutto onesto.
	</p>
	<p> 
		Quindi,
	</p>
	<p> 
		Se vuoi “darci dentro” la tua auto come si diceva una volta :-D e comprare la tua prossima auto e hai il dubbio se puoi darla a noi…. certo che puoi! Ritiriamo al prezzo di Quattroruote.
	</p>
	<p> 
		Se vuoi vendere la tua auto senza comprare nulla, noi te la compriamo al prezzo di Quattroruote
	</p>
	<p> 
		Se hai fatto un incidente o hai il motore rotto, noi te la ritiriamo al valore residuo rimasto.
	</p>
	<p> 
		In pratica, noi siamo qui per venderti la tua prossima auto, ma anche per comprare la tua auto!
	</p>
	<p> 
		Ti aspetto, cordialmente, Fabrizio Palpon
	</p>
</div>
{% endblock %}